
body {
  font-family: 'Comic Sans MS';
  background: rgb(118, 118, 118);
}
.play-button {
 text-decoration: none;
 background: black;
 color: white;
 font-family: 'Comic Sans MS';
 padding: 22px;
 border: none;
 border-radius: 12px;
 font-size: 27px;
 display: flex;
  justify-content: center;
  align-items: center;
}
.title-text {
    font-size: 37px;
    text-align: center;
    color: white;
    font-weight: bold;
}